/*Added template for css reset that
ensures cross browser consistency. Custom
CSS start at the mark *start*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*start*/


/*Setting the global background color and 
margin of page to zero*/
html, body {
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}


/*Customized divs for making sure the layout 
is desent when window is minimized or on 
lower resolution. Scroll down for options on 
layout above this threshold*/
@media screen and ( max-width : 821px) { 
		
	/*Div for the whole header*/	
	  div[id=headerWrapper] {
		background-color: rgb(237,110,28);
		width: 100%;
		height: 240px;
	}
	
		/*Div for the left part of header
		containing logo and title*/
		div[id=leftHeader] {
			background-color: rgb(237,110,28);
			height: 100px;
			width: 100%;
			float:top;
			overflow: hidden;
		}
		
			/*Infotiv logo*/  
			div[id=logo]{
				float:left;
				width:100px; /*width of your image*/
				height:100px; /*height of your image*/
				background-image:url('/infotivCarRental/img/logoHeader.png');
				margin:0; /* If you want no margin */
				padding:0; /*if your want to padding */
			}

			/*Infotiv Car Rental title*/
			div[id=title]{
				float:left;
				width:70%; 
				height:100%; 
			}
	
		/*Div for the right part of header
		containing user login and about button*/
		div[id=rightHeader] {
			background-color: rgb(47,47,47);
			float: bottom;
			height: 140px;
			width: 100%;
		}
			/*Div containing about button*/
			div[id=categories] {
				float:top;
				text-align: center;
			}
			
			/*Div for the user information*/
			div[id=userInfoWrapper] {
				height: 100%
				width: 50%;
				float:bottom;
				text-align: center;
			}

				/*Div for either email and password field
				or wellcome phrase*/
				div[id=userInfoTop]{
					float: top;
					margin-top: 5px;
					margin-right: 10px;
				}
				
				/*Div for either login and create user buttons, 
				or logout and my page buttons*/
				div[id=userInfoTopBottom]{
					float: bottom;
					margin-top: 8px;
					margin-right: 10px;
				}
	
	/*Styling for Infotiv Car Rental title*/
	h1[id=title]{
		color: white;
		margin-top: 35px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 170%;
	}
	
	/*Styling for About button*/
	.categoryText{
		color: white;
		margin-top: 10px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-weight: bold;
		font-size: 140%;
		text-decoration: none;
	}
	
	/*Styling for About button on hover*/
	.categoryText:hover{
		color: rgb(237,110,28);
	}

	/*Styling for welcome phrase text when logged in*/
	label[id=welcomePhrase]{
		color: white;
		margin-top: 10px;
		margin-bottom: 4px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

	/*Styling for error message text on failed login*/
	label[id=signInError]{
		color: rgb(237,110,28);
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	
	/*Div for the body contents*/
	div[id="mainWrapperBody"]{
		width: 100%;
		height: 100%;
	}
	
		/*Div for empty left pane*/
		div[id="leftpane"]{
			width: 10%;
			height: 100%;
			float: left;
			border-collapse: collapse;
			background-color: green;
		}
		
		/*Div for main content mid pane*/
		div[id="middlepane"]{
			width: 80%;
			height: 100%;
			float: left;
			border-collapse: collapse;
			background-color: red;
		}
		
		/*Div for empty right pane*/
		div[id="rightpane"]{
			width: 10%;
			height: 100%;
			position: relative;
			float: right;
			border-collapse: collapse;
			background-color: yellow;
		}
			/*Div for heading on index page*/
			div[id="tripQuestion"]{
				width: 100%;
				height: 20%;
				float: left;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for date selectors on index page*/
			div[id="dateSelection"]{
				width: 100%;
				height: 20%;
				float: left;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for reset and continue buttons on index page*/
			div[id="dateButtons"]{
				width: 100%;
				height: 60%;
				position: relative;
				float: right;
				border-collapse: collapse;
				margin-top: 40px;
				text-align:center;
			}
			
			/*Div for heading on showCars page*/
			div[id="showQuestion"]{
				width: 100%;
				height: 20%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for filter buttons on showCars page*/
			div[id="backToDate"]{
				width: 100%;
				height: 5%;
				position: relative;
				border-collapse: collapse;
				margin-top: 40px;
				text-align:center;
			}
			
			/*Div for cars table on showCars page*/
			div[id="carSelection"]{
				width: 100%;
				height: 75%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for heading on confirmBook page*/
			div[id="confirmQuestion"]{
				width: 100%;
				height: 15%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for buttons on confirmBook page*/
			div[id="confirmSelection"]{
				width: 100%;
				height: 85%;
				position: relative;
				border-collapse: collapse;
				margin-top: 40px;
				text-align:center;
			}
			
			/*Div for heading on updateAvailability page*/
			div[id="confirmMessage"]{
				width: 100%;
				height: 15%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for buttons on updateAvailability page*/
			div[id="backToStart"]{
				width: 100%;
				height: 85%;
				position: relative;
				border-collapse: collapse;
				margin-top: 40px;
				text-align:center;
			}
			
			/*Div for heading on about page*/
			div[id="aboutHeading"]{
				width: 100%;
				height: 10%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for presentaion on about page*/
			div[id="mainText"]{
				width: 100%;
				height: 10%;
				border-collapse: collapse;
				text-align:center;
			}
			
			/*Div for version nr on about page*/
			div[id="versionNr"]{
				width: 100%;
				height: 75%;
				position: relative;
				border-collapse: collapse;
				margin-top: 40px;
				text-align:center;
			}
}


/*Everything withing the next @media tag are customized
divs for layout when width of browser is over 821 px. To edit
layout beneath edit withing the @media tag above*/

@media screen and ( min-width : 821px) {
	
	/*Div for the whole header*/
	div[id=headerWrapper] {
		background-color: rgb(237,110,28);
		width: 100%;
		height: 100px;
	}
		/*Div for the left part of header
		containing logo and title*/
		div[id=leftHeader] {
			background-color: rgb(237,110,28);
			height: 100%;
			width: 340px;
			float:left; /* add this */
			overflow: hidden;
		}
		
			/*Infotiv logo*/
			div[id=logo]{
				float:left;
				width:29%; /*width of your image*/
				height:100%; /*height of your image*/
				background-image:url('/infotivCarRental/img/logoHeader.png');
				margin:0; /* If you want no margin */
				padding:0; /*if your want to padding */
			}
			
			/*Infotiv Car Rental title*/
			div[id=title]{
				float:left;
				width:70%; 
				height:100%; 
			}
		
		/*Div for the right part of header
		containing user login and about button*/
		div[id=rightHeader] {
			background-color: rgb(47,47,47);
			height: 100px;
			width: 100%;
		}
			
			/*Div containing about button*/
			div[id=categories] {
				height: 100%
				width: 50%;
				float:left;
				margin-left: 30px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: left;

			}
			
			/*Div for the user information*/
			div[id=userInfoWrapper] {
				height: 100%
				width: 50%;
				float:right;
				margin-right: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: right;
			}
			
				/*Div for either email and password field
				or wellcome phrase*/
				div[id=userInfoTop]{
					float: top;
					margin-top: 5px;
					margin-right: 10px;
				}
				
				/*Div for either login and create user buttons, 
				or logout and my page buttons*/
				div[id=userInfoTopBottom]{
					float: bottom;
					margin-top: 8px;
					margin-right: 10px;
				}
	
	/*Styling for Infotiv Car Rental title*/
	h1[id=title]{
		color: white;
		margin-top: 35px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 170%;
	}
	
	/*Styling for About button*/
	.categoryText{
		color: white;
		margin-top: 30px;
		margin-right: 30px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-weight: bold;
		font-size: 140%;
		text-decoration: none;
	}
	
	/*Styling for About button on hover*/
	.categoryText:hover{
		color: rgb(237,110,28);
	}
	
	/*Styling for welcome phrase text when logged in*/
	label[id=welcomePhrase]{
		color: white;
		margin-top: 10px;
		margin-bottom: 4px;
		display:inline-block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	
	/*Styling for error message text on failed login*/
	label[id=signInError]{
		color: rgb(237,110,28);
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		margin-left: 19px;
	}
	
	/*Div for the body contents*/
	div[id="mainWrapperBody"]{
		width: 100%;
		height: 100%;
	}

	/*Div for empty left pane*/
	div[id="leftpane"]{
		width: 15%;
		height: 100%;
		float: left;
		border-collapse: collapse;
	}

	/*Div for main content mid pane*/
	div[id="middlepane"]{
		width: 70%;
		height: 100%;
		float: left;
		border-collapse: collapse;
	}

	/*Div for empty right pane*/
	div[id="rightpane"]{
		width: 15%;
		height: 100%;
		position: relative;
		float: right;
		border-collapse: collapse;
	}

		/*Div for heading on index page*/
		div[id="tripQuestion"]{
			width: 100%;
			height: 20%;
			float: left;
			border-collapse: collapse;
			text-align:center;
		}
		
		/*Div for date selectors on index page*/
		div[id="dateSelection"]{
			width: 100%;
			height: 20%;
			float: left;
			border-collapse: collapse;
			text-align:center;
		}
		
		/*Div for reset and continue buttons on index page*/
		div[id="dateButtons"]{
			width: 100%;
			height: 60%;
			position: relative;
			float: right;
			border-collapse: collapse;
			margin-top: 40px;
			text-align:center;
		}
		
		/*Div for heading on showCars page*/
		div[id="showQuestion"]{
			width: 100%;
			height: 10%;
			border-collapse: collapse;
			text-align:center;
		}
		
		/*Div for filter buttons on showCars page TODO update div name*/
		div[id="backToDate"]{
			width: 100%;
			height: 5%;
			position: relative;
			border-collapse: collapse;
			margin-top: 40px;
			text-align:center;
		}

		/*Div for cars table on showCars page*/
		div[id="carSelection"]{
			width: 100%;
			height: 85%;
			border-collapse: collapse;
			text-align:center;
		}
		
		/*Div for heading on confirmBook page*/
		div[id="confirmQuestion"]{
			width: 100%;
			height: 15%;
			border-collapse: collapse;
			text-align:center;
		}

		/*Div for buttons on confirmBook page*/
		div[id="confirmSelection"]{
			width: 100%;
			height: 85%;
			position: relative;
			border-collapse: collapse;
			margin-top: 40px;
			text-align:center;
		}
		
		/*Div for heading on updateAvailability page*/
		div[id="confirmMessage"]{
			width: 100%;
			height: 15%;
			border-collapse: collapse;
			text-align:center;
		}
		
		/*Div for buttons on updateAvailability page*/
		div[id="backToStart"]{
			width: 100%;
			height: 85%;
			position: relative;
			border-collapse: collapse;
			margin-top: 40px;
			text-align:center;
		}
		
		/*Div for heading on about page*/
		div[id="aboutHeading"]{
			width: 100%;
			height: 10%;
			border-collapse: collapse;
			text-align:center;
		}

		/*Div for presentaion on about page*/
		div[id="mainText"]{
			width: 100%;
			height: 10%;
			border-collapse: collapse;
			text-align:center;
		}

		/*Div for version nr on about page*/
		div[id="versionNr"]{
			width: 100%;
			height: 80%;
			position: relative;
			border-collapse: collapse;
			margin-top: 40px;
			text-align:center;
		}
}


/*Styling for main heading on all steps of booking flow*/
h1[id=questionText]{
	color: rgb(47,47,47);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 50px;
	font-size: 200%;
	font-weight: bold;
}

/*Styling for main heading when big text causes layout issues*/
h1[id=questionTextSmall]{
	color: rgb(47,47,47);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 50px;
	font-size: 150%;
	font-weight: bold;
}

/*Main styling for all buttons, including sumbit and a refrences*/
button, input[type=submit], input[type=button], a[id=linkButton] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 4px 15px;
  border: 0px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 95%;
  color: rgb(255,255,255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(237,110,28);
  text-decoration: none;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  outline: none;
}

/*Hover styling for all buttons*/
button:hover, input[type=submit]:hover, input[type=button]:hover, a[class=linkButton]:hover {
  background: rgb(239,129,54,1);
  text-decoration: none;

}

/*On click styling for all buttons*/
button:active, input[type=submit]:active, input[type=button]:active, a[class=linkButton]:active {
  background: rgb(237,110,28);
  text-decoration: none;
}

/*Styling for date selectors on index page*/
input[type=date] {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 120%;
	color: rgb(47,47,47);
	text-align: left;
	padding-left: 15px;
	border-radius: 4px;
    border: 1.2px solid rgb(47,47,47);
	width: 220px;
	height: 40px;
	margin-top: 5px;
	}

::-webkit-datetime-edit-text { color: rgb(47,47,47); }
::-webkit-datetime-edit-month-field { color: rgb(47,47,47); }
::-webkit-datetime-edit-day-field { color: rgb(47,47,47); }
::-webkit-datetime-edit-year-field { color: rgb(47,47,47); }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: white; }

/*Styling for cars table on showCars page*/
table[id="carTable"]{
	margin: 0 auto;
	width:50%
}

/*Main styling for all input fields*/
.inputFields{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(47,47,47);
	text-align: left;
	border-radius: 2px;
    border: 1px solid rgb(47,47,47);
	padding: 5px;
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	outline: none;
}

/*Styling for bigger input fields. Used on create user page*/
.bigInputFields{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100%;
	color: rgb(47,47,47);
	text-align: left;
	padding-left: 10px;
	border-radius: 4px;
    border: 1.1px solid rgb(47,47,47);
	width: 180px;
	height: 28px;
	margin-top: 5px;
}

/*Aditional styling for buttons that should be bigger*/
.bigButton{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	width: 90px;
	height: 40px;
	border: 0px solid;
	margin-left: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: rgb(255,255,255,0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgb(237,110,28);
	text-decoration: none;
}

/*Styling for longer text paragraphs*/
.mediumText{
	color: rgb(47,47,47);
	font-size: 100%;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Styling to remove yellow background when chrome autofills a input field*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/*Styling for my bookings table on myPage */
table[id="orderTable"]{
	margin: 0 auto;
	width: 90%;

}

/*Styling for my history table on myPage */
table[id="historyTable"]{
	margin: 0 auto;
	width: 90%;
}
/* */
table th {
	text-align: left;
}
td[id="orderTD"], th[id="orderTH"] {
    border: 1px solid black;
    padding: 5px;
}

div [id="history"] {
	float: left;
	margin-top: 20px;
	border-collapse: collapse;
	text-align:center;
	width: 100%;
	height: 15%;
}

h1[id=historyText] {
	color: rgb(47,47,47);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 20px;
	font-size: 200%;
	font-weight: bold;
}

select [id="selectHistory"] {
	font-size: 200%;
}

